/* font import */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font style */

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: rgba(13, 19, 33, 1);

}
/* Nav Styles */
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38px 150px;
}
nav ul li {
    list-style: none;
}
nav ul li .name{
    font-weight: 800;
    font-size: 28px;
}
nav ul li button {
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border: 0.15px solid rgba(13, 19, 33, 1);
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}

/* Banner Model */
.banner {
    background-image: url("../assets/Hero-bg.png");
    padding: 26px;
}
.banner-model {
    max-width: 998px;
    margin: 26px auto;
    text-align: center;
}
.contact {
    padding: 21px 24px;
    color: #ffffff;
    background-color: rgba(13, 19, 33, 1);
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* Shared link */
.primary-desc {
    font-size: 16px;
    font-weight: 400;
}
.primary-header {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.primary-hover:hover {
    color: darkblue;
    background-color: #808080;
    box-shadow: 3px 12px 10px 10px #221b1b ;
    cursor: pointer;
}
.primary-active:active {
    color: #e43434bd;
    background-color: rgb(12, 12, 31);
    box-shadow: 3px 12px 10px 10px #413333 ;
    cursor: pointer;
}
.primary-center {
    text-align: center;
}

/* main section style start here */
.display-width {
    max-width: 1140px;
    margin: 84px auto;
}
.why-web {
    background-color: rgb(243, 240, 236);
    border-radius: 16px;
    padding: 80px 97px;
}
.descript {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    gap: 99px;
    background-color: aliceblue;
    margin: 32px;
    border-radius: 16px;
}
.desc-header {
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
}
.desc-btn {
    padding: 12px 20px;
    border: 1px solid gray;
    font-weight: 600;
    font-size: 20px;
}

/* Inspire style */
.inspire{
    background-color: rgba(228, 228, 230, 0.2);
}
.inspire-header{
    padding: 0 144px 124px 144px;
}

.chalange{
    border: 1px solid rgba(13, 19, 33, 0.2);
    padding: 32px;
    border-radius: 16px;
    margin-top: 48px;
}
.chalange img{
    max-width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin: 32px;
}
/* Target Section Style */
.target {
    margin-top: 151px;
}

/* Language Description Style*/
.coding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 111px;
}
.language {
    padding: 40px;
    border-radius: 16px;
}
.first-clr {
    background-color: rgba(255, 76, 30, 0.05);
}
.second-clr {
    background-color: rgba(0, 76, 232, 0.05);
}
.third-clr {
    background-color: rgba(255, 223, 0, 0.05);
}
.anchor-clr {
    font-size: 16px;
    font-weight: bold;
    color: rgba(13, 19, 33, 1);
}
.next-target-header {
    margin-bottom: 48px;
}
.frame{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    gap: 24px;
    margin-bottom: 24px;
}